.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px;
}

.imageContainer {
    display: block;
}

.image {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.title {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}