.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px;
}

.imageContainer {
    display: block;
}

.image {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
