.container {
    padding: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    font-size: 3rem;
}

.title {
    --heading-scale: 0.5;
}

.chevron {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: collapse;
}

.tr, .td {
    margin: 0;
    padding: 0;
}

.weekDay {
    font-size: 1.2rem;
}

@media screen and (max-width: 935px) {
    .title {
        --heading-responsive-scale: 3/4;
    }
}

@media screen and (max-width: 605px) {
    .nav {
        font-size: 2rem;
    }

    .title {
        --heading-responsive-scale: 1/2;
    }
}
