.container {
    border-top: 1px solid #5e5e5e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-size: 4rem;
    width: 6rem;
    height: 6rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day.today {
    background-color: var(--color-soft-orange);
    border-radius: 100%;
}

.event {
    aspect-ratio: 1/1;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-bottom: 8px;
}

.event.active {
    background-color: var(--color-light-black);
}

@media screen and (max-width: 935px) {
    .day {
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 605px) {
    .day {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }
}
